.tab {
  margin: 3rem 0 2rem 2rem;
}

small {
  font-size: 1.6rem;
  color: #777;
  
  &:not(:last-child) {
    margin-right: 12rem;
  }

  &:nth-child(2) {
    
    width: 5rem;
  
    margin-right: 8rem;
  }
}

form {
  padding: 5rem;
  margin: 2rem 0 5rem;
}

.group {
  display: flex;
  
  &--split {
    width: 10rem;
  }
}

.card {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}