.tab {
  margin: 3rem 0 2rem 2rem;
}

small {
  font-size: 1.6rem;
  color: #777;
  
  &:not(:last-child) {
    margin-right: 12rem;
  }

  &:nth-child(2) {
    
    width: 5rem;
  
    margin-right: 8rem;
  }
}