.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
}

.menu {
  height: 100%;
}

.nav {
  background-color: #fff;

  list-style: none;

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: var(--color-secondary);
  }

  &__item {
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;

    a {
      text-decoration: none;
      color: var(--color-secondary);
      font-size: 1.8rem;
    }  
  }
}

.content {
  background-color: #f4f4f4;
  flex: 1;
  padding: 4rem;

  &__header {
    padding: 2rem;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__icon {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    color: var(--color-primary);
    &:hover {
      opacity: .7;
      scale: 1.1;
    }
  
    &:active {
      scale: 1;
    }
  }
}

.box {
  
}
.footer {

}


