.container {
  background-color: #f4f4f4;
  flex: 1;
  padding: 4rem;
}

.header {
  padding: 2rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
  &:hover {
    opacity: .7;
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.content {
  
}