.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.text {
  font-size: 1.8rem;
  color: #444;
}

.tools {

}

.content {
  display: flex;
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15rem;
    margin-right: 2rem;
    overflow: hidden;
   
    
    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
    
      margin-right: 7rem;
    }

    &:last-child {
      margin-left: 1.5rem;
    }
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  
  &--trash {
    color: red;
  }

  &--edit {
    color: green;
  }

  &:hover {
    opacity: .7;
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}